extends ../includes/layout

block main-content
    .well
        form.form-horizontal(name="signUpForm", method="post")
            fieldset
                legend Register
                .form-group
                    label.col-md-2.control-label(for="first-name") First name
                    .col-md-10
                        input.form-control(type="text", id="first-name", placeholder="John",
                        name="firstName", required)
                .form-group
                    label.col-md-2.control-label(for="last-name") Last name
                    .col-md-10
                        input.form-control(type="text", id="last-name", placeholder="Doe",
                        name="lastName", required)
                .form-group
                    label.col-md-2.control-label(for="username") Username
                    .col-md-10
                        input.form-control(type="text", id="username",
                        placeholder="Username", name="username", required)
                .form-group
                    label.col-md-2.control-label(for="email-address") Email
                    .col-md-10
                        input.form-control(type="email", id="email-address",
                        placeholder="john.doe@email.com", name="email", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(type="password", id="password", placeholder="Password", name="password")
                .form-group
                    label.col-md-2.control-label(for="confirmPassword") Confirm password
                    .col-md-10
                        input.form-control(type="password", id="confirmPassword",
                        placeholder="Password", name="confirmPassword")
                .pull-right
                    input.btn.btn-primary(type="submit", value="Register")
                    a.btn.btn-primary(href="/") Cancel